.accordion>li {
	font-size: 18px;
	font-weight: 500;
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

.accordion>li:hover {
	background-color: #ccc;
}

.accordion>li li {
	font-size: 16px;
}

.accordion>li li:hover {
	background-color: transparent;
}

.dropdown-list {
	display: none;
	overflow: hidden;
}

.dropdown-item {
   padding: .25rem 1.5rem .25rem 0;
}

.active>.dropdown-list {
	display: block;
}